# RocketMQ 數據與日誌文件
data/
logs/

# 編譯產生的二進制文件
examples/producer/producer
examples/consumer/consumer
examples/*/*.exe

# Go 臨時文件
*.exe
*.test
*.prof
*.out
*.o
*.a
*.so

# macOS 系統文件
.DS_Store
.AppleDouble
.LSOverride

# Windows 系統文件
Thumbs.db
ehthumbs.db
Desktop.ini

# 編輯器與IDE文件
.idea/
.vscode/
*.swp
*.swo
*~ 